
<section class="vh-100" style="background-color: #6e7d86;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="https://imgs.search.brave.com/0u5M-yCEeYvS8oEl2ovHqQSqLmJK1JgZORWXXe7UtiI/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudmV4ZWxzLmNv/bS9tZWRpYS91c2Vy/cy8zLzE2NDM4OS9p/c29sYXRlZC9wcmV2/aWV3LzM2YzFiOWM0/OTQ0Y2NmMTIyYmZj/MDMxYTlhYWI1NGEz/LW1lbW9yeS1zdGlj/ay1pY29uLWJ1Zy1i/ZWV0bGUtc3Ryb2tl/LnBuZw"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">

                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"> 
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0">LOGIN</span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Login your Credentials</h5>
  
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form2Example17">Email address</label>
                      <input type="email" id="form2Example17" class="form-control form-control-lg" formControlName="email" placeholder="Enter your email" [(ngModel)]="data.email"/>
                      <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">
                        <div *ngIf="loginForm.controls['email'].hasError('required')"><b style="color:red ;">Email is required.</b></div>
                      </div>
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form2Example27">Password</label>
                      <input type="password" id="form2Example27" class="form-control form-control-lg" formControlName="password" placeholder="Enter the passsword"[(ngModel)]="data.password"/>
                      <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
                        <div *ngIf="loginForm.controls['password'].hasError('required')"><b style="color:red ;">Password is required.</b></div>
                        <div *ngIf="loginForm.controls['password'].hasError('minlength')"><b style="color:red ;"> Password must be at least 6 characters long</b></div>
                      </div>
                    </div>
                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" type="subnmit"[disabled]="loginForm.invalid">Login</button>
                    </div>
                    <a class="small text-muted" routerLink="/forgetPassword">Forgot password?</a>
                    <p class="mb-5 pb-lg-2" style="color: #393f81;" routerLink="/signup">Don't have an account? <a routerLink="/register"
                        style="color: #393f81;">Register here</a></p>
                    <a href="#!" class="small text-muted">Terms of use.</a>
                    <a href="#!" class="small text-muted">Privacy policy</a>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>