<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <nav class="navbar">
    <!-- LOGO -->
    <div class="logo">MUO</div>

    <!-- NAVIGATION MENU -->
    <ul class="nav-links">

      <!-- USING CHECKBOX HACK -->
      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>

      <!-- NAVIGATION MENUS -->
      <div class="menu">

        <li><a href="/" routerLink="/home">Home</a></li>
        <li><a href="/">About</a></li>
         <li><a href="/">Services</a></li>
        <li><a href="/">Pricing</a></li>
        <li><a href="/" routerLink="/login">Login</a></li>
        <li><a href="/" routerLink="/register">Signup</a></li>
        <li><a href="/" routerLink="/contact"><a style="color: red;">Contact Us</a></a></li>
      </div>
    </ul>
  </nav>
  
</body>

</html>